header {
display: flex;
top: 0;
width: 100%;
opacity:1.0; 
z-index:1;
height: 69px;
position: fixed;
align-items: center;
background-color: black;
border-bottom: 1px solid seashell;

}

.logo {
display: flex;
height: 50px;
padding-left: 10px;
}

nav a {
opacity: 0.9px;
padding: 20px;
color: seashell;
font-family: Helvetica;
}

nav {
display: inline-block;
justify-content: flex-end;
padding: 20px;
flex-grow: 1;
text-align: right;
flex-grow: 1;
}

body {
background-color: black;
font-family: Helvetica, sans-serif;
color: seashell;
font-size: 22px;
margin: 0;
text-align: center;
}

h2, h3, h4 {
margin: 0;	
padding: 10px;
color: seashell;
}

.content {
padding-top: 69px;
font-weight: bold;	
opacity: 0.9;
width: 1200px;
margin: auto;
}

.Missiontext {
width: 100%;
margin: auto;
background-color: black;	
}
#Mission {
background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
align-items: center;
display: flex;
flex-wrap: wrap;
margin: 0 40px 70px 40px;
height:700px;
}
#Mission h2, h4 {
font-family: Helvetica;
}

#Featured-Tea {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin: 10px;
padding-top: 69px;
}

.images img {
padding: 10px;
height: 200px;
width: 300px;
margin-bottom: 10px;
}
.images {
display:flex;
justify-content: center;
flex-wrap: wrap;
padding: 2px;

}
.flex-item {
display: flex;
flex-direction: column;
align-items: center;
}
.Mybed {
display: flex;
justify-content: space-around;
}

#Locations {
background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
text-align: center;
padding-top: 70px;
margin-top: 70px;
height: 500px;
}

.Places {
 display: block;
 justify-content: center;
 padding-top: 15px;
}

.place {
display: inline-block;
background-color: black;
justify-content: center;
opacity: 1;
margin: 20px;	
height: 210px;
width: 300px;
}

.Footer {
display: block;
height: 200px;
}

.Copyright p {
text-align: left;
padding-left: 20px;
font-weight: bold;
}